extends layout

block content
  // This is jQuery datepicker
  script().
    $(function() {
      $( "#datepicker" ).datepicker({dateFormat: "yy-mm-dd", yearRange: "-150:+0", changeYear: true, changeMonth: true});
    });
  div(class="container")
    h2 New address
    a(href="/logout") Logout #{username}
    br
    form(action="/add_address",method="post",data-ajax="false")
      label Name
      input(type="text",name="name",placeholder="full name",autofocus)
      label Street address
      input(type="text",name="address",placeholder="Mystreet 1")
      label E-mail address
      input(type="email",name="email",placeholder="your@email.net")
      label Phone number
      input(type="text",name="phonenumber",placeholder="+358(0)551234567")
      label Birthday
      input(type="text",name="birthday",id="datepicker")
      label Notes
      textarea(name="notes",placeholder="additional information")
      br
      input(type="submit",value="SAVE")
    