extends layout

block content
  div(class="container")
    table(id="backSide")
      tr
        td(id="leftSide") ADDRESSES
        td(id="rightSide")
          a(href="/logout") Logout
    br
    if db_addresses.length == 0
      p  no addresses found
    else
      input(type='text',data-type='search',id='test')
      ul(data-role="listview",data-filter='true',data-input='#test')
        each address in db_addresses
          li
            a(href="/contact_details?id=#{address._id}") #{address.name}
    br
    form(action="/contact_form",method="post",data-ajax="false")
      input(class="widebutton",type="submit",value="ADD NEW ADDRESS")
    br
    p(class="error") #{error_msg}
    