extends layout

block content
  div(class="container")
    h2 Please log in
    form(action="/login",method="post")
      input(type="text",placeholder="username")
      br
      input(type="password",placeholder="password")
      br
      input(type="submit",value="LOG IN")
      br
    p Not yet registered?
    a(href="/register") Register here
