body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.container {
  width: 350px;
  margin: 0 auto;
  padding: 10px;
  border-color: #000;
  border-style: solid;
  border-radius: 10px;
  background-color: #f8f8f8;
}
.error {
  color: #f00;
  font: bold 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.mybutton {
  display: block;
  border-radius: 10px;
  border-width: 1px;
  background-color: #f0f0f0;
}
.widebutton {
  display: block;
  min-width: 350px;
}
#photo {
  width: 128px;
  overflow: hidden;
}
#backSide {
  width: 100%;
  min-width: 350px;
  border-radius: 10px;
  border-spacing: 0px;
}
#leftSide {
  font: 24px Arial, Helvetica, sans-serif;
  padding: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
}
#rightSide {
  font: 18px Arial, Helvetica, sans-serif;
  padding: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
  text-align: center;
}
td#rightSide > a {
  font: 16px Arial, Helvetica, sans-serif;
  color: #000;
  text-decoration: none;
}
